numpy
pandas>=1.2.0
matplotlib>=3.5.1
snakemake==7.9.0
neo==0.11.0
nixio>=1.5.3
pillow>=7.0.0
scikit-learn>=0.22.1
scikit-image>=0.19.1
seaborn
networkx
shapely
h5py
tabulate==0.8.10
pygments>=2.4.2
#pygraphviz>=1.5
jinja2>=2.10.3
scipy==1.6.1
elephant
cwltool
