.gitignore
stage01_data_entry/configs/config_SPIKING_SIM.yaml
stage01_data_entry/configs/config_LENS.yaml
stage01_data_entry/configs/config_MF_LENS.yaml
stage01_data_entry/configs/config_ISO.yaml
stage01_data_entry/scripts/curate_SS_data.yaml
stage01_data_entry/scripts/curate_LENS_data.py
stage01_data_entry/scripts/curate_MF_data.py
stage01_data_entry/scripts/curate_ISO_LENS_data.py
stage02_processing/configs/config_SPIKING_SIM.yaml
stage02_processing/configs/config_LENS.yaml
stage02_processing/configs/config_MF_LENS.yaml
stage02_processing/configs/config_ISO.yaml
stage03_trigger_detection/configs/config_LENS.yaml
stage03_trigger_detection/configs/config_MF_LENS.yaml
stage03_trigger_detection/configs/config_ISO.yaml
stage03_trigger_detection/configs/config_SPIKING_SIM.yaml
stage04_wave_detection/configs/config_LENS.yaml
stage04_wave_detection/configs/config_MF_LENS.yaml
stage04_wave_detection/configs/config_ISO.yaml
stage04_wave_detection/configs/config_ELENA.yaml
stage04_wave_detection/configs/config_IDIBAPS.yaml
stage04_wave_detection/configs/config_MF_IDIBAPS.yaml
stage04_wave_detection/configs/config_MF_LENS.yaml
stage04_wave_detection/configs/config_SPIKING_SIM.yaml
stage05_wave_characterization/configs/config_ELENA.yaml
stage05_wave_characterization/configs/config_IDIBAPS.yaml
stage05_wave_characterization/configs/config_MF_Data_IDIBAPS.yaml
stage05_wave_characterization/configs/config_MF_IDIBAPS.yaml
stage05_wave_characterization/configs/config_MF_LENS.yaml
stage05_wave_characterization/configs/config_ISO.yaml
stage05_wave_characterization/configs/config_LENS.yaml
stage05_wave_characterization/configs/config_SPIKING_SIM.yaml
stage05_wave_characterization/configs/config_LENS.yaml
stage05_channel-wave_characterization/configs/config_SPIKING_SIM.yaml
stage05_wave_characterization/report.rst
stage05_channel-wave_characterization/configs/config_LENS.yaml
stage05_channel-wave_characterization/configs/config_MF_LENS.yaml
stage05_channel-wave_characterization/configs/config_ISO.yaml
test.py

stage02_processing/configs/config_ISO_C.yaml
stage03_trigger_detection/scripts/ops.py
stage03_trigger_detection/test_iso.mat
MergeTrials.py
stage04_wave_detection/debug_*
stage01_data_entry/scripts/curate_ISO_LENS_data_old.py
PostAnalysis

stage01_data_entry/*.txt
stage02_processing/*.txt

Create_Configs_Exp.py
RunExperimentalData.sh
stage01_data_entry/configs/config_TI_LENS.yaml
stage01_data_entry/configs/config_TI_MF_LENS.yaml
stage02_processing/configs/config_TI_LENS.yaml
stage02_processing/configs/config_TI_MF_LENS.yaml
stage03_trigger_detection/configs/config_TI_LENS.yaml
stage03_trigger_detection/configs/config_TI_MF_LENS.yaml
stage03_trigger_detection/run_pkl_iso_3.txt
stage04_wave_detection/configs/config_TI_LENS.yaml
stage04_wave_detection/configs/config_TI_MF_LENS.yaml
stage04_wave_detection/run_pkl_iso_4.txt
stage05_channel-wave_characterization/configs/config_TI_LENS.yaml

../PostPipelineAnalysis/
Create_Configs_MF.py
Deconvolve.py
Deconvolve_old.py
ReadGridValues.py
RunMFSimulations.sh
stage01_data_entry/configs/config_TI_LENS_170110_t1.yaml
stage01_data_entry/configs/config_TI_LENS_170110_t2.yaml
stage01_data_entry/configs/config_TI_LENS_170110_t3.yaml
stage01_data_entry/configs/config_TI_LENS_170110_t5.yaml
stage01_data_entry/configs/config_TI_LENS_170110_t6.yaml
stage01_data_entry/configs/config_TI_LENS_170110_t7.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t1.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t11.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t12.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t2.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t6.yaml
stage01_data_entry/configs/config_TI_LENS_170111_t9.yaml
stage01_data_entry/configs/config_TI_LENS_MF.yaml
stage01_data_entry/configs/config_TI_LENS_MF_170110_t5_InnerLoop.yaml
stage02_processing/configs/config_TI_LENS_MF.yaml


